<h1><%= name %></h1>

<div class="progress">
  <span class="meter" style="width: <%= parseInt((currentHP * 100) / hp, 10) %>%"></span>
</div>

<span class="hp-info"><span id="current"><%= currentHP %></span>/<%= hp %></span>
