doctype html
html
  head
    title HI!

    link(href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css', 
    rel='stylesheet')
    link(href='assets/css/style.css', rel='stylesheet')
  body
    h1 Register

    p 
      | Congratulations #{user}! Your account has been registered. You can now 
      | <a href="/login">login</a>.

